@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-overpass;
  }
}

@layer components {
  .bg-gradient-blue {
    @apply bg-gradient-to-l from-ethlas-blue to-ethlas-purple;
  }

  .text-gradient-blue {
    @apply bg-gradient-blue text-transparent bg-clip-text;
  }

  .bg-gradient-orange {
    @apply bg-gradient-to-b from-ethlas-orange to-ethlas-yellow;
  }

  .text-gradient-orange {
    @apply bg-gradient-orange text-transparent bg-clip-text;
  }

  .bg-gradient-black {
    @apply bg-gradient-to-bl from-ethlas-black to-ethlas-purple via-ethlas-black;
  }

  /* For landing page loading screen */

  .typed-out {
    @apply w-0 animate-typing whitespace-nowrap overflow-hidden text-ethlas-yellow;
  }

  .typed-out-2 {
    @apply typed-out;
    animation-delay: 1.5s;
  }

  .typed-out-3 {
    @apply typed-out;
    animation-delay: 2.5s;
  }

  .typed-out-4 {
    @apply typed-out;
    animation-delay: 4s;
  }

  .typed-out-5 {
    @apply typed-out;
    animation-delay: 5.5s;
  }

  /* For landing page name carousel */

  .carousel-name-box {
    @apply text-white py-3 px-6 mb-16 h-16 w-72 text-3xl grid place-items-center rounded-2xl opacity-90 whitespace-nowrap;
  }
}
